body {
  margin:0px;
  padding: 0px;
  font-family: Verdana;
}


nav 
{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    padding:10px 100px;
    box-sizing: border-box;
    transition: .4s;
}

nav.black
{
    
    background-color:rgba(0,0,0,0.7);
    padding:10px 100px;
    height: 100px;
    box-shadow:0px 2px 10px 1px #E2472F;
    box-sizing: border-box;
}

nav img.log
{
    padding: 22px 20px;
    height:auto;
    width:300px;
    float:left;
    transition:.4s;
    position:relative;
}

nav.black .log
{
    
    color:#fff;
    
}

nav ul
{
    list-style: none;
    float:right;
    margin: 0px;
    padding:0px;
    display: flex;
}

nav ul li
{
    list-style: none
}

nav ul li span a
{
    line-height: 80px;
    text-decoration: none;
    color:#080808;
    padding:12px 30px;
    text-transform: uppercase;
    border-bottom: 2px solid #FF4500;
    border-radius:50%;
    transition: .4s;
    cursor: pointer;
}
nav ul li span a:hover
{
    background-color: rgba(0,0,0,0.3);
    color:#fff;
    border-radius:6px;
}

nav.black ul li span a
{
    color:aliceblue;
    text-decoration: none;
    
}
nav.black ul li span a:hover:not(.active)
{
    background-color:rgba(240,248,255,0.7);
    color:black;
    border-radius:6px;
}
nav ul li span a.active:hover
{
    background-color: #E02500;
    box-shadow:2px 2px 5px black;
}
nav.black ul li span a.active:hover
{
    
    box-shadow:2px 2px 5px aliceblue;
    
}

nav ul li a:focus
{
    outline:none;
}

nav ul li span a.active
{
    background: #E2472F;
    color:#fff;
    border-radius:50%;
    box-shadow: 2px 2px 5px #000;
}


section.sec1
{
    width:100%;
    height:100vh;
    background-image: url(cla.jpg);
    background-size:cover;
    background-position:center;
}
.content
{
    margin-top:80px;
    overflow: hidden;
}
.content p
{
    width:900px;
    margin:30px auto;
    text-align: justify;
    font-size:20px;
}
.social {
    top:400px;
    left:-240px;
    height:300px;
    width:300px;
    background-color:rgba(0,0,0,0.2);
    box-sizing: border-box;
    position:fixed;
    justify-content: center;
    transform: rotate(-90deg);
   border-radius:0px 0px 69px 69px;
    border-bottom:solid #E2472F;
    

}



.social_media {
    
    width:100%;
    height:80%;
}

.social_text {
    width:100%;
    height: 20%;
    box-sizing: border-box;
    padding:20px;
    cursor:default;
    color:aliceblue;
    font-size:17px;
    text-align:center;
    text-transform: uppercase;
    background-color:rgba(0,0,0,0.2);
    border-radius:0px 0px 150px 150px;
    transition: 1s ease;
    
}

.social:hover .social_text{
    background-color:rgba(0,0,0,0.8);
}
.social:hover{
    border-bottom-color: transparent;
}



.media {
    color:aliceblue;
    top:-30px;
    width:80%;
    height:10%;
    background-color:rgba(0,0,0,0.8);
    position:absolute;
    text-align: center;
    text-transform: uppercase;
    box-sizing: border-box;
    padding:5px;
    transform-origin:left bottom;
    transform: rotate(90deg);
    
}
a{
    text-decoration: none;
    color:aliceblue;
}
#copyright{
    width:100%;
    height:35px;
    color:black;
    text-align:right;
    
}
/*Hover Social Min*/
[class ^="icon"]
{
     color:aliceblue;
    text-shadow:2px 2px 4px black;
    transform: rotate(90deg);
    width: 1em;
  font-size:50px;
    padding:10px;
     border-radius:10px;
     float:right;
    margin-left:.2em;
    margin-right:.1em;
     
}

a:hover .icon-github-circled-alt2
{
    color:blueviolet;
}
a:hover .icon-youtube
{
    color:rgb(255,0,0);
}
a:hover .icon-facebook
{
    color:rgb(59,89,152);
}
a:hover .icon-twitter-bird
{
    color:rgb(29,161,242);
}
a:hover .icon-linkedin
{
    color:rgb(0,119,181);
}
a:hover .icon-spotify-circled
{
    color:rgb(30,215,96);
}
a:hover .icon-instagram
{
    color:#d6249f;
    
}
a:hover .icon-gplus
{
    color:rgb(219,68,55);
    
}

.downArrow {
    position: fixed;
    display: flex;
    color:#F0F8FF;
    bottom:10px;
    right:10px;
    width:5vmin;
    height:5vmin;
    background: rgba(256,69,0,0.8);
    background-attachment: fixed;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-size:30px;
    text-align: center;
    transform: rotate(90deg);
}
.downArrow::after
{
    content: "\279C";
}
.downArrow:hover
{
    cursor:pointer;
    background-color:rgba(256,69,0,1);
    text-shadow: 0px 0px 5px #FFF;
}