body{
    padding:0;
    margin:0;
    width:100%;
    height:100vh;
    background-image: url(images/25311125_1764484020242337_2677805528624089319_o.jpg);
    background-size:cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items:center;
    font-family: sans-serif;
    color:aliceblue;
}

#loginbox{
   
    width:320px;
    height: 400px;
    padding:70px 30px;
    margin:10px;
    position: absolute;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.7);
    border: 1px solid black;
    border-radius:5px;
    caret-color: orangered; /*kolor kursora*/
    
    box-shadow:0px 3px 20px rgba(1,0,0,0.7);
}

.icon-user
{
    position: absolute;
    padding:0;
    margin:0;
    font-size:50px;
    text-shadow:2px 2px rgba(1,0,0,0.69);
    width:1em;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100px;
    height:100px;
    top:-50px;
    background-image: linear-gradient(to bottom,aliceblue, rgba(0,0,0,0.9));
    border-radius:50%;
    left: calc(50% - 50px);
    box-shadow: 0px -5px 7px rgba(1,0,0,0.69);  
    
 
}

form legend
{

    font-size:45px;
    text-align: center;
    margin:0;
    padding: 0;
    
    
    
}

#loginbox p
{
    font-weight: bold;
    line-height: 30px;
    margin:0;
    text-shadow: 2px 2px rgba(1,0,0,0.69);
}

#loginbox input
{
    width:100%;
    margin-bottom:5%;
}

#loginbox input[type='text'], input[type='password']
{
    background-color: transparent;
    border-color: transparent;
    border-bottom: 1px solid grey;
    border-radius:3px;
    color:aliceblue;
    outline:none;
    transition: .4s ease;
}
#loginbox input[type='text']:focus, input[type='password']:focus 
{
    background-color: transparent;
    border-color: transparent;
    box-shadow:0px 3px 3px orangered;
    border-radius:3px;
    color:aliceblue;
    outline:none;
}

#loginbox input[type='submit']
{
    box-sizing: border-box;
    border:none;
    outline:none;
    height: 50px;
    margin-top:30px;
    margin-bottom: 30px;
    font-size:30px;
    transition:.4s ease-out;
    border-radius:5px;
    color:orangered;
    background-color: transparent;
    /*font gradient*/
    /*text-shadow: 2px 2px rgba(1,0,0,0.2);
      background: -webkit-linear-gradient(aliceblue,silver);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;*/
    
}

#loginbox input[type='submit']:hover
{

    cursor:pointer;
     box-shadow:0px 4px 5px orangered;
}


#loginbox span a
{
    text-decoration:none;
    color:darkgray;
    text-align: justify;
    text-shadow: 2px 2px rgba(1,0,0,0.69);
    font-size:12px;
    line-height: 30px;
    transition:.4s ease;
}

#loginbox span a:hover
{
    text-shadow:1px 1px orangered;
    color:aliceblue;
}
